<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge" ></meta>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<link rel="stylesheet" href="/static/github-markdown.css">
<style>
.es56Action-nav li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
</style>
<title> <%- title %></title>
</head>
<body class="markdown-body" >
<ul class="es56Action-nav" >
    <li><a href="/README.md">nimojs/es56-action</a></li>
    <li><a href="http://github.com/nimojs/es56-action/">Github repository</a></li>
</ul>
<hr>
<%- content %>
</body>
</html>
